<module>
	<rawname>starterpluginasterisk</rawname>
	<repo>standard</repo>
	<name>Starter Plugin Asterisk</name>
	<version>1.0.0</version>
	<publisher>Arash Yeganeh</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>
		The "Asterisk Starter Module" is a pre-configured blueprint for creating a module within the Asterisk environment
	</description>
	<more-info>https://github.com/arashyeganeh/asterisk-starter-module</more-info>
	<menuitems>
		<starterpluginasterisk needsenginedb="yes">Starter Plugin Asterisk</starterpluginasterisk>
	</menuitems>
	<changelog>
		*1.0.0* Starter Plugin Asterisk 
	</changelog>
	<supported>
		<version>16.0</version>
	</supported>
</module>